<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Chris Li</string>
	<key>Builder Version</key>
	<string>12602.4.8</string>
	<key>CFBundleDisplayName</key>
	<string>Will Save</string>
	<key>CFBundleIdentifier</key>
	<string>com.unregistered.will-save</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>Chrome</key>
	<dict>
		<key>Database Quota</key>
		<integer>1048576</integer>
		<key>Global Page</key>
		<string>html/global.html</string>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>Start</key>
			<array>
				<string>js/lib.js</string>
				<string>js/content.js</string>
			</array>
		</dict>
	</dict>
	<key>Description</key>
	<string>Block time wasting websites until a duolingo review is done.</string>
	<key>DeveloperIdentifier</key>
	<string>EY7435E5E3</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
</dict>
</plist>
