#will-save-ui {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background: #fff;
  z-index: 2147483647 !important;
}

#will-save-ui .fallback-text {
  margin: 20% auto;
  font-size: 18pt;
  width: 400px;
}
