---
---

@import "{{ site.theme }}";

body {
    font-size: 15pt;
}

img {
    border: none;
    box-shadow: none;
    display: block;
}

#centered-logo {
    position: absolute;
    left: 210px;
    top: 70px;
    z-index: 1000;
    width: 200px;
}

#main_content {
    margin-top: 80px;
}

.browser-button {
    float: left;
    margin: 0px 55px;
    .browser-button-container {
        width: 128px;
    }
    .title {
        text-align: center;
    }
}

.item {
    display: block;
    width: 128px;
    height: 128px;
    border: 1px solid #999;
    border-radius: 10px;
    position: relative;
    margin: 0 auto;
    h5 {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        text-align: center;
    }
    img {
        width: 96px;
        height: 96px;
        margin: 0 auto;
        margin-top: 10px;
    }
     .itemcount {
        position: absolute;
        top: 5px;
        left: 10px;
        font-size: 14pt;
    }

    .item-name {
        font-weight: bold;
        color: #679AD1;
        font-size: 12pt;
    }
}

